AZURE_VOICE_LIVE_ENDPOINT=

RESOURCE_GROUP=
CONTAINER_APP_NAME=
CONTAINER_REGISTRY=
IMAGE_NAME=
TAG=
REGION=

VOICE_LIVE_MODEL=
AZURE_VOICE_AVATAR_CHARACTER=
AZURE_VOICE_AVATAR_CUSTOMIZED=false
AZURE_VOICE_AVATAR_WIDTH=
AZURE_VOICE_AVATAR_HEIGHT=
AZURE_VOICE_AVATAR_BITRATE=
AZURE_TTS_VOICE=
